* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f72585;
    font-family: Arial, Helvetica, sans-serif;
}

/* Interessant */
html {
    font-size: 24px;
}

header {
    color: white;
    width: 80%;
    text-align: center;
    background-color: #7209b7;
    font-size: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

/* 
intrasec to all boxes 
content 
margin and padding 
border 
*/

section#overflow {
    background-color: white;
    color: #7209b7;
    height: 2rem;
    overflow: scroll;
}

/* 
ne pas oublier > 
*/

section#image>img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

section#boxes>div:first-child {
    background-color: #7209b7;
}

section#boxes>div:nth-child(2) {
    margin-left: 25%;
    background-color: #3a0ca3;
}

section#boxes>div:nth-child(3) {
    margin-left: 50%;
    background-color: #4361ee;
    border: 0.25rem solid black;
}

section#boxes>div:last-child {
    margin-left: 75%;
}

section#boxes>div {
    max-width: 25%;
    padding: 1rem;
    font-size: min(3vw, 2rem);
    color: white;
}

/* min la valleur la plus petite des deux - deux unités diff.  */