/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background: transparent;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Layout */
main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "nav aside"
    "nav main"
    ;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar (nav) */
nav {
    background-color: #f9f9f9;
    border-right: 1px solid #d4d4d4;
    grid-area: nav;
    padding: 0 1rem;
}

nav>input {
    width: 100%;
    padding: 0.5rem;
    margin: 25px 0 40px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: url(assets/icons/search.svg) no-repeat 7px 7px;
    background-color: #e6e6e6;
    text-indent: 25px;
    line-height: 1.3;
}

nav>ul>li {
    padding: 0.5rem 1rem;
}

nav>ul>li img {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

nav>ul>li.active {
    background: #d9d9d9;
    border-radius: 15px;
}

/* Controls Section (aside) */
aside {
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-bottom: 2px solid #d4d4d4;
    grid-area: aside;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Currently Playing */
aside #currently-playing {
    height: 60px;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffffff;
    margin: 1rem 0;
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
}

#currently-playing img {
    width: 50px;
}

#currently-playing h2 {
    font-size: 1rem;
}

.song-info {
    flex-grow: 1;
}

/* Main Content (Album Grid) */
.album-grid {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.album-grid img {
    width: 100%;
}

.album-grid>figure>figcaption>h3 {
    font-size: 1rem;
}