* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

/* body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 80%;
} */