/*
display :  
vertical-align a mettre sur l'élément le plus grand dans le block inligne parent (VIEUX !!)
text-align dans le parent pas inlign

-> essayer de ne pas utiliser inline-bloc

direction : 
CSS logical properties and values 

*/

/*  Starter html and css file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    /* padding: 1.5rem 3rem 1rem 3rem; */
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 80%;
} 

header {
    margin: 1.5rem 0;
}

/* think of using height  */
nav {
    background-color: #FD5353;
    height: 3rem;
}

/* Can be simplifyed */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

nav > ul {
    padding: 1rem 2rem;
}

nav > ul > li {
    display: inline;
    margin: 0 0 0 1rem;
}

nav ul > li:first-child {
    margin: 0;
}

main {
    background-color: #5000FF;
    position: relative;
}

#sticker {
    position: absolute;
    width: 200px;
    right: 50px;
    top: -50px;
    rotate: 20deg;
}

img.full-width {
    width: 100%;
}

p {
    padding: 2rem 4rem;
}

p.large-text {
    font-size: 2rem;
}

section#getting-there > img {
    display: inline-block;
    vertical-align : middle;
    width: 50%;
}

section#getting-there > address {
    display: inline-block;
    vertical-align : middle;
    text-align: center;
    width: 49%;    
    padding: 1rem;
}

